@font-face {
  font-family: 'GowunDodum';
  src: url('./fonts/GowunDodum-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('./fonts/CormorantGaramond-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'GreatVibes';
  src: url('./fonts/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./fonts/IBMPlexSans-Light.ttf') format('truetype');
}
