/* CSS */
/*
position

width & height

box-model - display - flex & grid

margin - border - padding

background-color & color

font style

etc..

*/
.App {
  height: 100vh;

  display: flex;
  justify-content: center;

  background-color: rgb(246, 246, 246);
}
