/* CSS */
/*
position

width & height

box-model - display - flex & grid

margin - border - padding

background-color & color

font style

etc..

*/
body {
  font-size: 16px;
}

.App {
  height: 100vh;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.practice {
  align-items: center;
  color: blanchedalmond;
}
