*,
:after,
:before {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

ol,
ul {
  list-style: none;
}

button {
  border: 1px solid gray;
  border-radius: 2rem;

  font-family: 'GowunDodum';
  font-size: 1rem;

  color: black;
  background-color: white;

  cursor: pointer;
}

button:hover {
  color: gray;
}

a {
  color: gray;

  font-size: 1rem;

  text-decoration: none;
}

a:visited {
  color: gray;
}

a:hover {
  color: black;
}
