*,
:after,
:before {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  font-size: 1rem;

  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}
