*,
:after,
:before {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

ol,
ul {
  list-style: none;
}

button {
  font-family: 'GowunDodum';
  font-size: 1rem;

  color: black;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

a {
  color: gray;

  font-size: 1rem;

  text-decoration: none;
}

a:visited {
  color: gray;
}

a:hover {
  color: black;
}
